{% extends 'base.html' %}
{% block content %}

<table>
    <thead>
        <tr>
            <th class='sub-header'>MY NOTES</th>
        </tr>
    </thead>
    <a class='add-note' href="{% url 'note_new' %}">Add New Note
    </a>
<tbody class="note" id="{{note.pk}}">
   
    {% for note in notes %}
    <tr class='note-container'>
        <td class='note-title'><a href="{% url 'notes-detail' note.pk %}">{{note.title}}</a></td>
        <td class='note-body'>{{note.body}}</td>
        <td class='note-create-date'>{{note.created_at}}</td>
    </tr>
    {% endfor %}

</tbody>


</table>

{% endblock %}